/.vscode
/.scala-build
/.bsp
/.metals
/project/target/config-classes
*.cache
*.jar
target/
/target/scala-3.3.3
/project/
/target/streams/compile
*.class
*.tasty
/.idea
project\target\scala-2.12\sbt-1.0\update\update_cache_2.12\